annotated-types==0.7.0
ass==1.0.3
ass_tag_analyzer==0.0.5
certifi==2026.2.25
charset-normalizer==3.4.5
FindSystemFontsFilename==0.3.3
FontCollector==4.0.2
fonttools==4.62.0
freetype-py==2.5.1
idna==3.11
langcodes==3.5.1
language_data==1.4.0
marisa-trie==1.4.0
markdown-it-py==4.0.0
mdurl==0.1.2
mkvinfo==0.0.3
muxtools @ git+https://github.com/Jaded-Encoding-Thaumaturgy/muxtools.git@9ae7a6ac845f862261eba1f0508688428814a5df
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsebluray==0.1.4
requests==2.32.5
rich==14.3.3
typed-ffmpeg-compatible==3.7.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
VideoTimestamps==1.1.0
wget==3.2
